@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Sum +</button>
<button class="btn btn-primary" @onclick="DecrementCount">Sub -</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private int decrease = 0;

	private void DecrementCount()
	{
        currentCount--;
	}
}
